body{
    height: 100%;
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
}

.content_page{
    width: 100%;
    height: 100%;
}
.card-id{
    background-color: black;
}

.about_syte{
    padding: 40px;
    border: var(--bs-border-style);
    background: url(/resourse/Frame\ 2.jpg);
    background-size: 100%;
    color: white;
    height: 520px;
     
}
.about_programming{
    background: url(/resourse/Frame\ 1.jpg);
    background-size: 100%;
}
h3{
    color: #6f42c1;
}
.logo_name{
    color: white;
    transition-duration: 0.1s;
}
.logo_name:hover{
    opacity: 0.7;
    position: relative;
    font-size: 39px;
}
.language_programming, .about_programming{
    padding: 30px;
}
.about_programming{
    height: 1110px;
}

.learn-btn{
    max-width: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    color: white;
    display: block;
    background: #545CA0;
    margin: auto;
}
.itd-bg-p{
    border-bottom: 2px solid #6f42c1;
    padding: 20px;
}
.block_lang{
    background: white;
    height: 300px;
    border-radius: 10px;
}
.itd-text{
    color: white;
}
.itd-row{
    padding: 20px;
    height: 400px;
}
.itd-exampale_bg{
    padding: 20px;
    border-radius: 10px;

}
h1{
    font-size: 40px;
}
.itd-bg-c{
    background: #2a3a8e;
}
.itd-bg-column-c{
    background: #5560aa;
}
.itd-bg-c_plus{
    background: #114a85;
}
.itd-bg-column-c_plus{
    background: #639dd5;
}

.itd-column-bg-java{
    background: #f28618;
}
.itd-bg-java{
    background: #8FB9D2;
}
#footer{
    background: #6f42c1;
}
#footer li a:hover{
    text-decoration: underline;
    color: antiquewhite;
}
.itd-bg-lang{
    background: #545CA0;
}
.text-java{
    color: white;
}

.itd-color p{
    color: #545CA0;
   
}
.learn-btn:hover{
    background: #95ACFD;
    transition-duration: 0.3s;
    color: #5560aa;
    font-weight:bold;
}
.itd-bg-install-po{
    background: url(/resourse/Frame\ 1.jpg);
    background-size: 100%;
}
.itd-title-po{
    color: #6f42c1;
}
